.resource-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px;
}
.resource-links .img-box {
  height: 50px;
  width: 50px;
  display: grid;
  /* justify-content: center; */
  align-items: center;
}
.resource-links img {
  max-height: 50px;
  max-width: 50px;
}
.resource-links .subtitle {
  font-size: 10px;
}