.member {
  max-width: 50px;
}
.member-image img {
  max-width: 45px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.member-name {
  font-size: x-small;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-word-break: break-all;
}