.project-detail-page {
  padding: 10px 20px;
}
.project-info > p {
  text-align: left;
  font-size: smaller;
  margin-bottom: 0;
}
.roles-and-tools {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
}
.delete {
  background-color: red;
}