.dashboard {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.dashboard > .buttons {
    display: flex;
    justify-content: center;
}
.dashboard h6 {
    font-weight: bolder;
}
.dashboard p {
    margin-bottom: 0;
}
.button-icon-bg {
    margin: 10px 10px;
    background-color: #381565;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    padding: 15px;
}
.button-icon-bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.speech-bubble {
    padding: 0 15px;
}
.task-panel{
    display: flex;
    align-items: center;
}
.task-panel-list {
    background-color: #D2e994;
    margin: 10px 10px 10px 30px;
    text-align: left;
    border-radius: 15px;
}
.task-panel p {
    font-size: x-small;
    margin-bottom: .3rem;
}
.enter-tasks-button{
    margin:0;
}
.meeting-panel {
    background-color:#381565;
    margin: 10px 30px;
    border-radius: 50px;
    padding: 10px;
    color:#ffffff
}
.meeting-panel h6 {
    font-weight: bolder;
}
.meeting-panel p {
    font-size: x-small;
}
.rank-panel {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50px;
    margin: 10px 30px;
    padding: 5px 0;
}
.rank-panel p {
    font-weight: bolder;
}
.button-icon{
    filter: invert(100%);
}