#socialsForm button {
  border-radius: 30px;
  width: 290px;
}
#socialsForm div {
  margin: auto;
  width: 75%;
}
#socialsForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
}
#socialsForm input {
  width: 290px;
  height: 85px;
  padding: 10px;
  text-align: center;
}
#linkedinDiv {
  position: relative;
}
#linkedinDiv button {
  position: absolute;
}
#linkedinDiv input {
  position: absolute;
}
#githubDiv {
  position: relative;
}
#githubDiv button {
  position: absolute;
}
#githubDiv input {
  position: absolute;
}
#twitterDiv {
  position: relative;
}
#twitterDiv button {
  position: absolute;
}
#twitterDiv input {
  position: absolute;
}
#portfolioDiv {
  position: relative;
}
#portfolioDiv button {
  position: absolute;
}
#portfolioDiv input {
  position: absolute;
}
#linkedinBtn {
  height: 85px;
  background-image: url('./linkedinbw.png');
  background-repeat: no-repeat;
  background-position: center;
}
#githubBtn {
  height: 85px;  
  background-image: url('./githubbw.png');
  background-repeat: no-repeat;
  background-position: center;
}
#twitterBtn {
  height: 85px;
  background-image: url('./twitterbw.png');
  background-repeat: no-repeat;
  background-position: center;
}
#portfolioBtn {
  height: 85px;
  background-image: url('./slackbw.png');
  background-repeat: no-repeat;
  background-position: center;
}
.customround{
  border-radius: 30px;

}


