.timeline {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-word-break: break-all;
  margin-bottom: 30px;
}
.timeline h6 {
  margin-bottom: 30px;
}
.timeline .stages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.timeline .stage {
  border-top: solid darkgray 2px;
  text-align: left;
  padding: 10px;
}
.timeline .stage-name {
  font-size: 20px;
}
.timeline .left {
  border-right: solid darkgray 2px;
}
.timeline .right {
  border-left: solid darkgray 2px;
}