.timeline-form:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(/src/images/clock-bg/1000.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 0;
}
.timeline-form form {
  z-index: 1;
}
.timeline-form form > h6{
  margin-bottom: 20px;
}
.timeline-form #subtitle {
  text-align: center;
}
.timeline-form .stage-field > h6 {
  font-weight:800;
  margin: 0 40px;
  padding-top: 10px;
}
.timeline-form .input-fields {
  width: 60%;
}
.timeline-form input, textarea {
  width: 100%;
}
.timeline-form textarea {
  margin: 5px 0 15px;
}
.timeline-form .buttons {
  display: flex;
  justify-content: space-between;
}